/* ============================================================================================ *\
 *  Global                                                                                     *
\* ============================================================================================ */

@import 'style/animation';
@import 'style/palette';
@import 'style/positioning';

:root {
  /* Palette */
  --primary-darkest: black;
  --primary-darker: #17252b;
  --primary-dark: #25353d;
  --primary-medium: #2f4550;
  --primary-light: #3f606e;
  --primary-lighter: #586f7c;
  --font-color: #f4f4f9;
  --accent: #b8d8d9;

  --error: #a84432;
  --info: #4a6af7;
  --warning: #fcc81c;
  --success: #38c750;

  /* Positioning */
  --border-radius: 8px;
  --padding-length: 5px;
}

body {
  background-color: @indigo;

  /* Positioning */
  margin: 0;
}

*:disabled {
  cursor: not-allowed !important;
}

/* ============================================================================================ *\
 *  Fonts                                                                                       *
\* ============================================================================================ */

h1,
h2,
h3,
h4,
h5,
h6,
textarea,
span,
p,
button,
input,
select,
li,
label,
td,
th,
tr {
  /* Fonts */
  font-family: 'Nunito', sans-serif;
  font-optical-sizing: auto;
}

.unselectable {
  user-select: none;
}

/* ============================================================================================ *\
 *  Buttons                                                                                     *
\* ============================================================================================ */

select,
button {
  /* Positioning */
  padding: @padding-length;

  /* Decoration */
  cursor: pointer;
  border: none;
  border-radius: @border-radius;
}

input,
select,
button,
input:hover,
select:hover,
button:hover {
  /* Transitions */
  transition-property: background-color;
  transition-duration: @transition-duration;
  transition-timing-function: @transition-timing-function;
}

input:disabled,
select:disabled,
button:disabled,
input:active,
select:active,
button:active {
  /* Transitions */
  transition: none;
}

a,
a:hover {
  /* Transitions */
  transition-property: color;
  transition-duration: @transition-duration;
  transition-timing-function: @transition-timing-function;
}

a:active,
a:disabled {
  /* Transitions */
  transition: none;
}

/* ============================================================================================ *\
 *  Inputs                                                                                      *
\* ============================================================================================ */

input {
  /* Positioning */
  padding: @padding-length;

  /* Decoration */
  border: none;
  border-radius: @border-radius;
}

/* ============================================================================================ *\
 *  Select                                                                                      *
\* ============================================================================================ */

select {
  /* Positioning */
  padding: @padding-length;

  /* Decoration */
  border: none;
  border-radius: @border-radius;
  cursor: pointer;
}

/* ============================================================================================ *\
 *  Anchors                                                                                     *
\* ============================================================================================ */

a {
  /* Fonts */
  font-family: 'Nunito', sans-serif;
  font-optical-sizing: auto;

  /* Decoration */
  text-decoration: none;
}

/* ============================================================================================ *\
 *  Help                                                                                        *
\* ============================================================================================ */

.help {
  /* Cursor */
  cursor: help;
}

.help:hover {
  /* Transition */
  transition-property: color;
  transition-duration: @transition-duration;
  transition-timing-function: @transition-timing-function;
}

/* ============================================================================================ *\
 *  Tables                                                                                      *
\* ============================================================================================ */

table {
  border-spacing: 0;
  border-style: hidden;
  border-collapse: separate;
  text-align: center;
  border-radius: @border-radius;
  overflow: hidden;
  table-layout: fixed;
}

thead > tr {
  background-color: @shark;
  color: contrast($background-color);
}

tbody > tr:nth-of-type(odd) {
  background-color: @darkest-indigo;
  color: contrast($background-color);
}

tbody > tr:nth-of-type(even) {
  background-color: @darker-indigo;
  color: contrast($background-color);
}

th,
td {
  padding: @padding-length;
}
