/* ============================================================================================ *\
 *  Global                                                                                     *
\* ============================================================================================ */

:root {
  /* Transitions */
  --transition-duration: 0.2s;

  /* Palette */
  --primary-darkest: black;
  --primary-darker: #17252b;
  --primary-dark: #25353d;
  --primary-medium: #2f4550;
  --primary-light: #3f606e;
  --primary-lighter: #586f7c;
  --font-color: #f4f4f9;
  --accent: #b8d8d9;

  --error: #a84432;
  --info: #4a6af7;
  --warning: #fcc81c;
  --success: #38c750;

  /* Positioning */
  --top-bar-height: 60px;
  --side-bar-width: min(375px, 100vw);
  --gap-length: 15px;
  --border-radius: 8px;
  --padding-length: 5px;
}

body {
  /* Positioning */
  margin: 0;

  /* Palette */
  background-color: var(--primary-lighter);
}

*:disabled {
  cursor: not-allowed !important;
}

/* ============================================================================================ *\
 *  Fonts                                                                                       *
\* ============================================================================================ */

h1,
h2,
h3,
h4,
h5,
h6,
textarea,
span,
p,
button,
input,
select,
li,
label,
td,
th,
tr {
  /* Fonts */
  font-family: 'Nunito', sans-serif;
  font-optical-sizing: auto;
}

/* ============================================================================================ *\
 *  Text                                                                                        *
\* ============================================================================================ */

h1,
h2,
h3,
h4,
h5,
h6,
textarea,
span,
p,
li,
label,
td,
th,
tr {
  /* Palette */
  color: var(--font-color);
}

/* ============================================================================================ *\
 *  Buttons                                                                                     *
\* ============================================================================================ */

button,
button.primary-button {
  /* Transitions */
  transition-property: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: ease-in-out;

  /* Positioning */
  padding: var(--padding-length);

  /* Decoration */
  border: none;
  border-radius: var(--border-radius);

  /* Palette */
  color: var(--primary-darkest);
}

button {
  /* Palette */
  background-color: var(--font-color);
}

button.primary-button {
  /* Palette */
  background-color: var(--accent);
}

button:disabled {
  /* Transitions */
  transition-property: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: ease-in-out;

  /* Palette */
  color: var(--font-color);
  background-color: var(--primary-lighter) !important;
}

button:hover,
button.primary-button:hover {
  /* Transitions */
  transition-property: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: ease-in-out;

  /* Decoration */
  cursor: pointer;
}

button:hover {
  /* Palette */
  background-color: var(--accent);
}

button.primary-button:hover {
  /* Palette */
  background-color: var(--font-color);
}

button:active,
button.primary-button:active {
  /* Transitions */
  transition-property: none;
}

button.primary-button:active {
  /* Palette */
  background-color: var(--accent);
}

button:active {
  /* Palette */
  background-color: var(--font-color);
}

/* ============================================================================================ *\
 *  Inputs                                                                                      *
\* ============================================================================================ */

input {
  /* Positioning */
  padding: var(--padding-length);

  /* Decoration */
  border: none;
  border-radius: var(--border-radius);

  /* Palette */
  color: var(--primary-darkest);
  background-color: var(--font-color);
}

input:disabled {
  background-color: var(--primary-lighter) !important;
}

/* ============================================================================================ *\
 *  Select                                                                                      *
\* ============================================================================================ */

select {
  /* Positioning */
  padding: var(--padding-length);

  /* Decoration */
  border: none;
  border-radius: var(--border-radius);

  /* Palette */
  background-color: var(--font-color);
}

/* ============================================================================================ *\
 *  Anchors                                                                                     *
\* ============================================================================================ */

a {
  /* Fonts */
  font-family: 'Nunito', sans-serif;
  font-optical-sizing: auto;

  /* Decoration */
  text-decoration: none;

  /* Palette */
  color: var(--font-color);
}

a:hover,
a:hover > * {
  /* Palette */
  color: var(--accent);
}

/* ============================================================================================ *\
 *  Help                                                                                        *
\* ============================================================================================ */

.help {
  /* Cursor */
  cursor: help;
}

.help:hover {
  /* Transition */
  transition-property: color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;

  /* Palette */
  color: var(--accent);
}

/* ============================================================================================ *\
 *  Tables                                                                                      *
\* ============================================================================================ */

table {
  border-spacing: 0;
  border-style: hidden;
  border-collapse: separate;
  text-align: center;
  border-radius: var(--border-radius);
  overflow: hidden;
  table-layout: fixed;
}

thead > tr {
  background-color: var(--primary-darker);
}

tbody > tr:nth-of-type(odd) {
  background-color: var(--primary-dark);
}

tbody > tr:nth-of-type(even) {
  background-color: var(--primary-medium);
}

th,
td {
  padding: var(--padding-length);
}

/* ============================================================================================ *\
 *  Functional Palettes                                                                         *
\* ============================================================================================ */

span.info,
span.success,
span.warning,
span.error {
  padding: 2px;
  cursor: help;
  min-width: 32px;
  display: inline-block;
  border-radius: var(--border-radius);
  font-size: 22px;
}

span.info {
  background-color: var(--info);
}

span.success {
  background-color: var(--success);
}

span.warning {
  color: var(--primary-darkest);
  background-color: var(--warning);
}

span.error {
  background-color: var(--error);
}

/* ============================================================================================ *\
 *  Anchors                                                                                     *
\* ============================================================================================ */

a {
  color: var(--accent);
}

a:hover {
  color: var(--font-color);
}

a:active {
  color: var(--accent);
}
